<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lightweight Neural Basis Functions for All-Frequency Shading</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes, minimal-ui">
</head>
<body>
<div id="app">
  <v-app>
    <v-row justify="center">
      <v-col class="py-4 text-center" :xl="7" :lg="7" :md="8" :sm="12" :xs="12">
        <!--  Title and teaser -->
        <v-row justify="center" class="mt-12">
          <v-sheet tile>
            <div class="text-h3">{{title}}</div>
            <div class="text-h4 mt-6">{{publisher}}</div>
          </v-sheet>
          <v-col :cols="12" class="mt-2" >
                            <span v-for="author in authors" class="mr-4">
                                <span v-if="author.link != null" >
                                    <a :href=author.link>{{author.name}}</a>
                                    <sup>{{author.sup}}</sup>
                                </span>
                                <span v-else>
                                    {{author.name}}
                                    <sup>{{author.sup}}</sup>
                                </span>
                            </span>
          </v-col>

          <v-col :cols="12" class="mt-2">
                            <span v-for="item in institutions" class="mr-4">
                                <sup>{{item.sup}}</sup>{{item.name}}
                            </span>
          </v-col>
          <v-col :cols="12">
                            <span>
                                <sup>*</sup>Corresponding author
                            </span>
          </v-col>
          <v-img max-width="100%" class="mt-2"
                 :src="teaserPath">
          </v-img>
        </v-row>

        <!--  Abstract -->
        <v-row justify="left" class="mt-8">
          <v-col :cols="12">
            <div class="text-h4 text-left">Abstract</div>
          </v-col>
        </v-row>
        <v-row justify="left" class="mt-4">
          <v-col :cols="12">
            <div class="text-body-1 text-left">
              {{abstract}}
            </div>
          </v-col>
        </v-row>

        <!--  Download -->
        <v-row justify="left" class="mt-8">
          <v-col class="col-12 text-left">
            <div class="text-h4"> Download</div>
          </v-col>
        </v-row>
        <v-row justify="left" class="mt-4">
          <div class="text-center pl-2">
            <v-btn color="light-blue darken-3" dark :href="paperPath" target="_blank"> PAPER
              <v-icon class="ml-2 white--text" >mdi-cloud-download</v-icon>
            </v-btn>
            <v-btn color="light-blue darken-3" dark :href="supplementalPath" target="_blank"> SUPPLEMENTARY
              <v-icon class="ml-2 white--text" >mdi-cloud-download</v-icon>
            </v-btn>
            <v-btn color="light-blue darken-3" dark href="https://drive.google.com/file/d/1F4V8_uzdaNoVsBC1yuvVqdfGyy4Y0o5n/view?usp=sharing" target="_blank"> CODE
              <v-icon class="ml-2 white--text" >mdi-cloud-download</v-icon>
            </v-btn>
          </div>
        </v-row>

        <!--  Video -->
        <v-row justify="left" class="mt-8">
          <v-col class="col-12 text-left">
            <div class="text-h4"> Video</div>
          </v-col>
        </v-row>
        <v-row justify="left" class="mt-4">
          <video controls="" preload="metadata" align="center" width="100%" style="display:block;   width:100%;">
            <source :src="videoPath" type="video/mp4">
          </video>
        </v-row>

          <!-- Bibtex-->
          <v-row justify="left" class="mt-8">
            <v-col class="col-12 text-left">
              <v-sheet tile>
                <div class="text-h4 text-left"> Bibtex</div>
              </v-sheet>
            </v-col>
          </v-row>
          <div class="bibtex-block text-left">
            <pre><code>
{{bibtex}}
            </code></pre>
          </div>
        </v-col>
      </v-row>

    <!--  footer  -->
    <v-footer color=indigo padless>
      <v-row justify="center" no-gutters>
        <v-btn
                color="white"
                text
                large
                plain
        >
          {{title}}
        </v-btn>
      </v-row>
    </v-footer>
  </v-app>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<script>
  var app = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: {
      title:'Lightweight Neural Basis Functions for All-Frequency Shading',
      publisher:'SIGGRAPH ASIA 2022',
      teaserPath:'img/representative.jpg',
      paperPath:'http://sites.cs.ucsb.edu/~lingqi/publications/paper_neural_basis.pdf',
      supplementalPath:'http://sites.cs.ucsb.edu/~lingqi/publications/supplementary_neural_basis.pdf',
        videoPath:'http://sites.cs.ucsb.edu/~lingqi/publications/video_neural_basis.mp4',
      abstract:'Basis functions provide both the abilities for compact representation and the properties for efficient computation.\n' +
          'Therefore, they are pervasively used in rendering to perform all-frequency shading.\n' +
          'However, common basis functions, including spherical harmonics (SH), wavelets, and spherical Gaussians (SG) all have their own limitations, such as low-frequency for SH, not rotationally invariant for wavelets, and no multiple product support for SG. \n' +
          'In this paper, we present neural basis functions, an implicit and data-driven set of basis functions that circumvents the limitations with all desired properties. \n' +
          'We first introduce a representation neural network that takes any general 2D spherical function (e.g. environment lighting, BRDF, and visibility) as input and projects it onto the latent space as coefficients of our neural basis functions.\n' +
          'Then, we design several lightweight neural networks that perform different types of computation, giving our basis functions different computational properties such as double/triple product integrals and rotations. \n' +
          'We demonstrate the practicality of our neural basis functions by integrating them into all-frequency shading applications, showing that our method not only achieves a compression rate of 0.39% and 10×-40× better performance than wavelets at equal quality, but also renders all-frequency lighting effects in real-time without the aforementioned limitations from classic basis functions.',
      authors:[
        {name:'Zilin Xu', sup:'1', link:'https://starry316.github.io/' },
        {name:'Zheng Zeng', sup:'2', link:'https://zheng95z.github.io/'},
        {name:'Lifan wu', sup:'3', link:'https://winmad.github.io/'},
        {name:'Lu Wang', sup:'1*', link:'http://vr.sdu.edu.cn/info/1010/1060.htm'},
        {name:'Ling-Qi Yan', sup:'2', link:'https://sites.cs.ucsb.edu/~lingqi/'},
      ],
      institutions:[{sup:'1', name:'Shandong University'}, {sup:'2', name:'University of California, Santa Barbara'}, {sup:'3', name:'NVIDIA'}],
      bibtex:
      '@inproceedings{10.1145/3550469.3555386,\n' +
      'author = {Xu, Zilin and Zeng, Zheng and Wu, Lifan and Wang, Lu and Yan, Ling-Qi},\n' +
      'title = {Lightweight Neural Basis Functions for All-Frequency Shading},\n' +
      'year = {2022},\n' +
      'isbn = {9781450394703},\n' +
      'publisher = {Association for Computing Machinery},\n' +
      'address = {New York, NY, USA},\n' +
      'url = {https://doi.org/10.1145/3550469.3555386},\n' +
      'doi = {10.1145/3550469.3555386},\n' +
      'booktitle = {SIGGRAPH Asia 2022 Conference Papers},\n' +
      'articleno = {14},\n' +
      'numpages = {9},\n' +
      'keywords = {all-frequency, basis function, neural rendering},\n' +
      'location = {Daegu, Republic of Korea},\n' +
      'series = {SA \'22}\n' +
      '}',
    },

    methods:{
      test(){
        console.log("1234");
      }
    },
    computed: {
      cols () {
        const { lg, sm } = this.$vuetify.breakpoint
        return lg ? 6 : sm ? 9 : 8
      },
    },
  })

</script>
<style>
  .bibtex-block {
    background-color: #1e1e1e;
    color: #dcdcdc;
    padding: 1rem;
    border-radius: 12px;
    font-family: 'Courier New', monospace;
    overflow-x: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
</style>


</html>